.mensajError{
    color: red;
}
#mensajeNombre{
    display: none;
}

#mensajePeriodo{
    display: none;
}

#mensajeForma{
    display: none;
}

#mensajeDeposito{
    display: none;
}

#mensajePeriodo2{
    display: none;
}

#mensajeDeposito2{
    display: none;
}
