{% extends "alumnos/base.html" %}
{% block content %}
  <div class="container-sm container-reparacion">
      <h1 class="text-center">SOLICITUD DE ARRIENDO</h1>
      <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
              <label for="nombreCliente">Nombre del Cliente</label>
              <input type="text" class="form-control" id="nombreCliente" value={%if nombre_usuario != None%}"{{ nombre_usuario }}" {% endif %}{% if user.is_staff %} {{user}} {% endif %} readonly>
          </div>

          <!-- Tipo de Bicicleta -->
          <div class="form-group">
              <label for="tipoBicicleta">Tipo de Bicicleta</label>
              <select class="form-control" id="tipoBicicleta" name="tipoBicicleta" readonly>
                  <option value="{{ tipo_bici }}" selected>{{ tipo_bici }}</option>
              </select>
          </div>

          <!-- Periodo de Arriendo -->
          <div class="form-group">
              <label for="periodoArriendo">Periodo de Arriendo</label>
              <input type="number" class="form-control" id="periodoArriendo" placeholder="Ingrese el número de días" name="periodoArriendo" oninput="calcularGarantia()">
              <div class="mensajError text-center">
                  <span id="mensajePeriodo">Ingrese el Periodo de Arriendo</span>
              </div>
              <div class="mensajError text-center">
                  <span id="mensajePeriodo2">Ingrese un periodo de arriendo valido (mayor a 0)</span>
              </div>
          </div>

          <!-- Forma de Pago -->
          <div class="form-group">
              <label for="formaPago">Forma de Pago</label>
              <select class="form-control" id="formaPago" name="formaPago">
                  <option disabled selected>Seleccion forma de Pago</option>
                  <option>Tarjeta de Crédito</option>
                  <option>Tarjeta de Débito</option>
                  <option>Transferencia Bancaria</option>
                  <option>Efectivo</option>
              </select>
              <div class="mensajError text-center">
                  <span id="mensajeForma">Ingrese una Forma de Pago</span>
              </div>
          </div>

          <!-- Depósito de Garantía -->
          <div class="form-group">
              <label for="depositoGarantia">Depósito de Garantía</label>
              <input type="number" class="form-control" id="depositoGarantia" name="depositoGarantia" readonly>
          </div>

          <!-- Botón de Enviar -->
          <button type="submit" class="btn btn-primary" id="Enviar">Enviar Solicitud</button>
      </form>
  </div>

  <!-- Modal de éxito -->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Solicitud enviada
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
          </div>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
      function calcularGarantia() {
          var periodo = document.getElementById('periodoArriendo').value;
          var garantia = periodo * 5000; // Ajusta el valor de la garantía por día según tus necesidades
          document.getElementById('depositoGarantia').value = garantia;
      }

      $(document).ready(function() {
          {% if messages %}
              $('#successModal').modal('show');
          {% endif %}
      });
  </script>
  {% load static %}
  <script src="{% static 'js/arrendar.js' %}"></script>
{% endblock %}
