<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    {% load static%}
    <script src="{% static 'js/arrendar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_reparaciones.css' %}" />
    <link rel="stylesheet" href="{% static 'css/arrendar.css' %}">
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="logo">
      <img src="{% static 'img/logo_bici.png' %}" alt="" class="img-fluid" />
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="btn" href="{% url 'index' %}">INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="btn" href="{% url 'reparaciones' %}">REPARACIONES</a>
        </li>
        <li class="nav-item active">
          <a class="btn" href="{% url 'catalogo' %}">CATALOGO</a>
        </li>
        {% if request.session.cliente_id %}
        <li class="nav-item active">
          <a class="btn" href="{% url 'mis_reparaciones' %}">MiS REPARACIONES</a>
        </li>
        {%endif%}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if nombre_usuario %}
          <li class="nav-item active">
            <a class="btn disabled" href="">{{ nombre_usuario }}</a>
          </li>
          <li class="nav-item active">
            <a class="btn" href="{% url 'cerrar_sesion' %}">CERRAR SESION</a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="btn" href="{% url 'iniciar_sesion' %}">INICIAR SESION</a>
          </li>
          <li class="nav-item active">
            <a class="btn" href="{% url 'registrarse' %}">REGISTRARSE</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
      <br>
    <div class="container-sm">
        <h1 class="text-center">SOLICITUD DE ARRIENDO</h1>
        <form>
          <div class="form-group">
            <label for="nombreCliente">Nombre del Cliente</label>
            <input type="text" class="form-control" id="nombreCliente" placeholder="Ingrese su nombre" name="nombreCliente">
            <div class="mensajError text-center">
              <span id="mensajeNombre">Ingrese nombre</span>
            </div>
        </div>

        <!-- Tipo de Bicicleta -->
          <div class="form-group">
              <label for="tipoBicicleta">Tipo de Bicicleta</label>
              <select class="form-control" id="tipoBicicleta" name="tipoBicicleta">
                <option value="{{ tipo_bici }}" selected>{{tipo_bici}}</option>
              </select>
          </div>
        <!-- Periodo de Arriendo -->
        <div class="form-group">
            <label for="periodoArriendo">Periodo de Arriendo</label>
            <input type="number" class="form-control" id="periodoArriendo" placeholder="Ingrese el número de días" name="periodoArriendo">
            <div class="mensajError text-center">
              <span id="mensajePeriodo">Ingrese el Periodo de Arriendo</span>
            </div>
            <div class="mensajError text-center">
              <span id="mensajePeriodo2">Ingrese un periodo de arriendo valido(mayor a 0)</span>
            </div>
        </div>

        <!-- Forma de Pago -->
        <div class="form-group">
            <label for="formaPago">Forma de Pago</label>
            <select class="form-control" id="formaPago" name="formaPago">
                <option disabled selected>Seleccion forma de Pago</option>
                <option>Tarjeta de Crédito</option>
                <option>Tarjeta de Débito</option>
                <option>Transferencia Bancaria</option>
                <option>Efectivo</option>
            </select>
            <div class="mensajError text-center">
              <span id="mensajeForma">Ingrese una Forma de Pago</span>
            </div>
        </div>

        <!-- Depósito de Garantía -->
        <div class="form-group">
            <label for="depositoGarantia">Depósito de Garantía</label>
            <input type="number" class="form-control" id="depositoGarantia" placeholder="Ingrese el monto del depósito" name="depositoGarantia">
            <div class="mensajError text-center">
              <span id="mensajeDeposito">Ingrese Depósito de Garantía</span>
            </div>
            <div class="mensajError text-center">
              <span id="mensajeDeposito2">Ingrese Depósito de Garantía valido</span>
            </div>
        </div>

        <!-- Botón de Enviar -->
        <button  class="btn btn-primary" id="Enviar">Enviar Solicitud</button>
        </form>
    </div>






    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>