{% extends "alumnos/base.html" %}
{% block content %}
<div class="container bg-light rounded p-4 mt-4">
    <h2>Listado de Boletas</h2>
    <table class="table mt-3 table-responsive-lg">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for boleta in page_obj %}
                <tr>
                    <td>{{ boleta.id }}</td>
                    <td>{{ boleta.cliente }}</td>
                    <td>{{ boleta.fecha }}</td>
                    <td>{{ boleta.total }}</td>
                    <td>
                        <a href="{% url 'boleta_detail' boleta.id %}" class="btn btn-info">Ver Detalles</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay boletas disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination text-center mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" style="text-decoration: none;">
                    <button class="btn btn-info">&laquo; primero</button>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}">
                    <button class="btn btn-info">anterior</button>
                </a>
            {% endif %}
            
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none;">
                    <button class="btn btn-info">siguiente</button>
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}" style="text-decoration: none;">
                    <button class="btn btn-info">último &raquo;</button>
                </a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
