<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_form.css' %}">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="logo">
            <img src="{% static 'img/logo_bici.png' %}" alt="" class="img-fluid">
        </div>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="btn" href="{% url 'index' %}">INICIO<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn" href="{% url 'reparaciones' %}">REPARACIONES</a>
                </li>
                <li class="nav-item active">
                    <a class="btn" href="{% url 'catalogo' %}">CATALOGO</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn" href="{% url 'iniciar_sesion' %}">INICIAR SESION</a>
                </li>
                <li class="nav-item active">
                    <a class="btn" href="{% url 'registrarse' %}">REGISTRARSE</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <!-- FORMULARIO -->
    <div id="logo_carrito">
        <a href="">
            <img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" alt="" class="img-fluid" id="imagen_carrito">
        </a>
    </div>
    <div class="container-sm">
        <div class="form_cont">
            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="POST" action="{% url 'iniciar_sesion' %}">
                {% csrf_token %}
                <span class="text-center formato_titulo_form">INICIAR SESION</span>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" name="correo" placeholder="name@example.com" required>
                </div>
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" name="contrasena" required>
                </div>
                <button type="submit" class="btn btn-primary">ENVIAR</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <script src="{% static 'js/form_iniciar.js' %}"></script>
</body>
</html>
