
{% extends "alumnos/base.html" %}
{% block content %}
<div class="container-sm">
    <div class="form_cont">
        <span class="text-center formato_titulo_form">Perfil</span>
        <br>
        {% if nombre_usuario != None and user.is_staff == False %}
        <div class="form-group">
            <label for="id_username"><strong>Nombre de usuario:</strong></label>
            <label>{{ nombre_usuario }}</label>
        </div>
        <div class="form-group">
            <label for="id_email"><strong>Correo electrónico:</strong></label>
            <label>{{ email_usuario }}</label>
        </div>
        <a href="{% url 'update_profile' %}" class="btn btn-primary">Actualizar Perfil</a>
        {% elif user.is_staff %}
        <div class="form-group">
            <label for="id_username"><strong>Nombre de usuario:</strong></label>
            <label>{{ user }}</label>
        </div>
        <div class="form-group">
            <label for="id_email"><strong>Correo electrónico:</strong></label>
            <label>{{ user.email }}</label>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}
