<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_form.css'%}">
</head>
<body>
    <!-- NAVBA -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="logo">
        {% load static %}
        <img src="{% static 'img/logo_bici.png' %}" alt="" class="img-fluid">
      </div>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="btn" href="index">INICIO<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="btn" href="reparaciones.html">REPARACIONES</a>
            </li>
            <li class="nav-item active">
              <a class="btn" href="Catalogo.html">CATALOGO</a>
            </li>
            <li class="nav-item active">
              <a class="btn" href="registro_ventas.html">REGISTRO DE VENTAS</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="btn" href="iniciar_sesion">INICIAR SESION</a>
            </li>
            <li class="nav-item active">
              <a class="btn" href="registrarse">REGISTRARSE</a>
            </li>
          </ul>
        </div>
      </nav>
      <br>


    <div id="logo_carrito">
      <a href="">
        <img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" alt="" class="img-fluid" id="imagen_carrito">
      </a>
    </div>
    <div class="container-sm">
      <div class="form_cont">
    <!-- FORM -->
        <form id="registrarseForm" action="{% url 'registrarse' %}" method="POST">
          {% csrf_token %}
          <h1 class="text-center formato_titulo">REGISTRARSE</h1>
          <br>
          <div class="form-group ">
            <label for="exampleFormControlSelect1">Nombre</label>
            <pre> <input type="text" class="form-control" id="itNombre" placeholder="Nombre"></pre>
            <div id="mensajeNombre">
              Ingrese Nombre
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo</label>
            <pre><input type="text" class="form-control" id="itCorreo" placeholder="name@example.com"></pre>
            <div id="mensajeCorreo">
              Ingrese un correo
            </div>
            <div id="mensajeCorreo2">
              Ingrese un correo valido
            </div>
          </div>
          <div class="form-group ">
            <label for="exampleFormControlSelect1">Contraseña</label>
            <pre><input type="password" class="form-control" id="itContrasena"></pre>
            <div id="mensajeContrasena">
              Ingrese una contraseña
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="enviar" data-toggle="modal" data-target="#exampleModal">ENVIAR</button>
        </form>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registro completado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Registrado exitosamente
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->
      <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
      {% load static %}
    <script src="{% static 'js/form_iniciar.js' %}"></script>
</body>
</html>