{% extends "alumnos/base.html" %}
{% block content %}
<div class="container-sm">
    <div class="form_cont">
        <!-- FORM -->
        <form action="{% url 'registrarse' %}" method="POST">
            {% csrf_token %}
            <span class="text-center formato_titulo_form">REGISTRARSE</span>
            <br>
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="itCorreo">Correo</label>
                <input type="text" class="form-control" id="itCorreo" name="correo" placeholder="name@example.com">
                <div id="mensajeCorreo">Ingrese un correo</div>
                <div id="mensajeCorreo2">Ingrese un correo válido</div>
            </div>
            <div class="form-group">
                <label for="itNombre">Nombre</label>
                <input type="text" class="form-control" id="itNombre" name="nombre" placeholder="Nombre">
                <div id="mensajeNombre">Ingrese Nombre</div>
            </div>
            <div class="form-group">
                <label for="itContrasena">Contraseña</label>
                <input type="password" class="form-control" id="itContrasena" name="contrasena">
                <div id="mensajeContrasena">Ingrese una contraseña</div>
            </div>
            <div class="form-group">
                <label for="itContrasena2">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="itContrasena2" name="contrasena2">
                <div id="mensajeContrasena2" class="text-center">Las contraseñas no coinciden</div>
                <div id="mensajeContrasena3" class="text-center">Ingrese una contraseña</div>
            </div>
            <div><label for="formGroupExampleInput">¿Ya tienes cuenta?</label>
                <a class="label" href="{% url 'iniciar_sesion' %}" style="color: blue;">Inicia sesion</a>
            </div>
            <button type="submit" class="btn btn-primary" id="enviar">ENVIAR</button>
        </form>
    </div>
</div>
<!-- SCRIPTS -->
{% load static %}
<script src="{% static 'js/form_registrar.js' %}"></script>

{% endblock %}
