{% extends "alumnos/base.html" %}
{% block content %}
<div class="container bg-light rounded p-4 mt-4">
    <h1 class="text-center titulo-reparacion">Solicitudes de Servicio de Reparación</h1>
    <div id="contenedorSolicitudes" class="mt-3">
        <h3>Solicitudes: {{ total_solicitudes }}</h3>
    </div>
    <ul id="listaSolicitudes" class="list-group mt-3">
        {% for solicitud in solicitudes_reparacion %}
            <li class="list-group-item">
                <strong><u>Solicitud De Reparación</u> {{ forloop.counter }}</strong><br><br>
                <b>Rut Cliente:</b> {{ solicitud.rut }}<br>
                <b>Tipo De Servicio:</b> {{ solicitud.servicio }}<br>
                <b>Fecha y Hora:</b> {{ solicitud.hora_entrega }}<br>
                <b>Descripción Específica Del Problema:</b> {{ solicitud.descripcion }}<br>
                <br>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination mt-3">
        <span class="step-links">
            {% if solicitudes_reparacion.has_previous %}
                <a href="?page=1" class="btn btn-info" style="text-decoration: none;">&laquo; primero</a>
                <a href="?page={{ solicitudes_reparacion.previous_page_number }}" class="btn btn-info" style="text-decoration: none;">anterior</a>
            {% endif %}
            
            <span class="current">
                Página {{ solicitudes_reparacion.number }} de {{ solicitudes_reparacion.paginator.num_pages }}.
            </span>
            
            {% if solicitudes_reparacion.has_next %}
                <a href="?page={{ solicitudes_reparacion.next_page_number }}" class="btn btn-info" style="text-decoration: none;">siguiente</a>
                <a href="?page={{ solicitudes_reparacion.paginator.num_pages }}" class="btn btn-info" style="text-decoration: none;">último &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
